{% extends "layout.html" %}

{% block head%}
        <title>Sobre - Cleberson Osorio</title>
{% endblock%}

{% block content %}
    <div id="wrapper">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFNm0oqdJd6gg/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=5PVtzkhwgfrU_-xF5KLIigaA9lPRwiqa6j6ARQRcc1o" alt="Cleberson Osorio">
        <h1>Cleberson Osorio</h1>
        <h2>QA - Senff</h2>
        <p>Programamador iniciante com foco em Full Stack. Colaborador na <a href="https://www.senff.com.br/" target="_blank">Senff</a></p>
    </div>

    <div id="links-footer" class="links">
            <a href="/" target="_blank">Github</a>
            <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">Linkedin</a>
    </div>

{% endblock %}
