{% extends "layout.njk"%}

{% block content %}
    <div id="wrapper">
        <img src="/assets/logo-rocketseat.svg" alt="">
        <h1>Rocketseat</h1>
        <h2>Instituição de Ensino</h2>
        <p>Mais do que uma plataforma de educação em tecnologia, uma comunidade incrível de devs em busca do próximo nível</p>
    </div>
    <section class="list">
        <h1>Técnologias Utilizadas</h1>
        <ul>
            <li>JavaScrit</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Node</li>
            <li>React</li>
            <li>React Native</li>
        </ul>
    </section>
{% endblock %}