<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head%}
            <title>Desafio-3-1 : About</title>
           
        {% endblock %}
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/styles.css">

    </head>
    <body>
        <header>
            <!-- Comunidade, Email e Telefone -->
            <div class="links">
                <a href="/">Sobre</a>
                <a href="content">Conteúdos</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <div class="footer links">
            <a href="https://github.com/Rocketseat" target="_blank">Github</a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
            <a href="https://www.facebook.com/rocketseat/" target="_blank">Facebook</a>
        </div>
    </body>
</html>