@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root {
    --color-blue: #0052bd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--color-blue);
    color: white;
    font-family: Roboto, sans-serif;
}

.title-content {
    text-align: center;
    font-size: 42px;
    line-height: 52px;
    padding-top: 42px;
}

.title-content::after {
    content: '';
    width: 200px;
    height: 4px;
    background-color: white;
    display: block;
    margin: 10px auto;
}

header {
    padding: 30px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.705);
    background-color: rgba(0, 0, 0, 0.1)
}

.links {
    text-align: center;
}

.links a{
    color:rgba(255, 255, 255, 0.6);
    padding: 0 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
}

.links a:hover {
    color: white;
    transition: color 300ms;
}

#wrapper {
    text-align: center;
    margin: 32px;
}

#wrapper img{
    border-radius: 50%;
    background: white;
    border: solid 5px #fb5607;
    margin-bottom: 32px;
    height: 250px;
}

#wrapper h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#wrapper h2 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 8px;
    opacity: .8;
}

#wrapper p {
    max-width: 500px;
    margin: 32px auto;
}

.list {
    text-align: center;
    margin-bottom: 32px;
}

.list h1 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 8px;
    opacity: .8;
}

.list li {
    font-size: 18px;
    line-height: 28px;
}

/* page content */
.content {
    max-width: 800px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.card {
    background-color: #002f6d;
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.397);
    cursor: pointer;
}

.card img {
    margin: 32px auto;
}

.card h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-bottom: 8px;
}

.card p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
}

.card button {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 24px;
    border-radius: 8px;
    margin: 20px auto;
    border: none;
    background-color: var(--color-blue);
    color: aliceblue;
    width: 80%;
    cursor: pointer;
}

/* Modal */

.modal-overlay {
    background-color:  rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;
}

.modal.minimize {
    background-color: #100f12;
    width: 50%;
    height: 50%;
    margin: 25vh auto;
    position: relative;
}

.modal.maximize {
    background-color: #100f12;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal,
.modal .minimize-modal,
.modal .maximize-modal {
    color: white;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}
.modal .minimize-modal {
    right: 38px;
}
.modal .maximize-modal {
    right: 68px;
}


/* Modal Active */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 8%;
}

/* Page Not Found */
#not-found {
    margin-top: 20vh;
    text-align: center;
}

#not-found h1 {
    font-size: 15vw;
    font-weight: bold;
}

#not-found .material-icons {
    font-size: 10em;
}
#not-found p {
    font-size: 1.5rem;
}

